<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DeltaComp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DeltaComp.Settings>
            <setting name="MaxBufferSize" serializeAs="String">
                <value>104857600</value>
            </setting>
            <setting name="Platforms" serializeAs="String">
              <value>AVR,STM32,ESP32</value>
            </setting>
        </DeltaComp.Settings>
    </applicationSettings>
    <appSettings>
      <add key="MaxBufferSize" value="104857600"/>
      <add key="Platforms" value="AVR,STM32,ESP32"/>
    </appSettings>
</configuration>